.background {
    background-color: #EDF2C5;
    width: 1260px;
    height: 960px;
    font-family: Arial;
    margin: auto;

}
.container1{
    padding: 0 160px 13px 160px;
}

.header{
    box-sizing: border-box;
    width: 940px;
    height: 108px; 
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.bt{
    display:flex;
    justify-content: flex-end;
}
.title{
    font-size: 44px;
    font-weight: 900;
    color:#778A50;
    margin:53px 469px 8px 0px; 
    

}
.first-button{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}
.fb{
    width: 25px;
    height: 25px;
    margin:60px 10px 18px 0px; 

}
.ig{
    width: 25px;
    height: 25px;
    margin:60px 10px 18px 0px;
}
.line{
    color: #778A50;
    border-left: 1px solid #778A50;
    width: 1px;
    height: 25px;
    margin:60px 0 0 0 ;
}
.button-social{
    box-sizing: border-box;
    height:25px;
    width: 25px;

}

.button{
    box-sizing: border-box;
    height: 25px;
    width: 60px;
    color:#778A50;
    background-color: #EDF2C5;
    border:1px solid #778A50;
    margin:60px 0px 1px 10px; 
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;

}
.box-a{
    box-sizing: border-box;
    background-color: #778A50;
    width: 940px;
    height: 44px;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
}
.box-content{
    color: #EDF2C5;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    padding: 10px 0px 10px;
    margin: 0 0px;
}
.content{
    padding: 0px 30px;
}
.pumpkin{
    margin:20px 0 30px;
}
.main-area{
    box-sizing: border-box;
    width: 940px;
    height: 200px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left-title{
    background-color: #778A50;
    color: #EDF2C5;
    box-sizing: border-box;
    width: 444px;
    height:45px;
    border-radius: 3px;
    padding: 10px 316px 12px 30px;
    margin-top: 0;
    

}
.left-img{
    margin-top: 15;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-title{
    background-color: #778A50;
    color: #EDF2C5;
    box-sizing: border-box;
    width: 444px;
    height:45px;
    border-radius: 3px;
    padding: 10px 316px 12px 30px;
    margin: 0 0 0 52px;

}

.right-p{
    box-sizing: border-box;
    width: 444px;
    height: 140px;
    margin: 15px 0 35px 52px;
    padding: 15px;
    background-color: #f7fbda;
}
.p1{
    font-size: 12px;
    color: #7d7d7d;
    margin: 0;

}
.hor-line{
    width: 414px;
    height: 1px;
    background-color: #7d7d7d;
    margin: 15px 0;
}
.p2{
    box-sizing: border-box;
    width: 197px;
    height: 35px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    font-size: 12px;
    color: #7d7d7d;
    margin: 0;
}
.p2-1{
    margin: 0px;
}
.p2-2{
    margin: 0px;
}
.footer{
    box-sizing: border-box;
    width: 1260px;
    height: 60px;
    background-color: #778A50;
    margin: 35px 0 0;
    display: flex;
    align-content: center;
    
}
.footer-p{
    box-sizing: border-box;
    width: 1260px;
    height: 60px;
    font-size: 12px;
    color: #EDF2C5;
    padding:23px 480px;
    display: flex;
    align-items: center;
    margin: 0;
    
}






















    

